@import '../../../style/style.scss';

#form-container {
  @include card;
  padding: 2rem 1rem;

  .search-flight-form {
    @include column;
    height: 100%;
    align-items: stretch;
    gap: 1rem;

    @include tablet {
      gap: 2rem;
    }

    @include desktop {
      gap: 2.5rem;
    }

    select {
      font-size: 1em;
      font-weight: 700;
      padding: 0.25em;
      color: $dark;
    }

    .middle-section {
      display: grid;
      gap: 1rem;
    }

    .bottom-section {
      @include row;
      justify-content: space-between;
    }

    .col {
      @include column;
      align-items: flex-start;
    }

    input[type='number'] {
      max-width: 4rem;
    }

    .submit-button {
      @include app-button;
      align-self: center;
    }
  }
}
