@import '../../style/style';

.search-page {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
}

@media screen and(min-width: 700px) {
}

@media screen and(min-width: 1024px) {
}
