@import '../../style/style';

.search-page {
  display: grid;
  place-items: center;
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }

  .bottom-banner {
    width: 100%;

    @include tablet {
      display: none;
    }
  }
}
