@import '../../style/style';

#search-page {
  display: grid;
  place-items: center;
  padding: 1rem;

  .bottom-banner {
    width: 100%;
    max-width: 20rem;
    max-height: 8rem;
  }

  @include tablet {
    padding: 2rem;

    .bottom-banner {
      display: none;
    }
  }
}
