@import '../../style/style.scss';

.search-form-container {
  @include card;
  max-width: 500px;

  .search-flight-form {
    @include column;
    height: 100%;
    align-items: stretch;
    gap: 1rem;

    .bottom-section {
      @include row;
      justify-content: space-between;
    }

    .col {
      @include column;
      align-items: flex-start;
    }

    input[type='number'] {
      max-width: 4rem;
    }

    input[type='submit'] {
      margin-top: auto;
    }
  }
}
