@import '../../style/style';

// global resets

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  @include fill;
  @include fixed;
  font-size: 16px;
  background-color: $background;
  color: $dark;
  display: grid;
  grid-template-rows: 5rem 1fr;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .right-banner {
    display: none;
    grid-column: 3;
    grid-row: 2 / -1;
  }

  @include tablet {
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 5rem 1fr 30%;

    .right-banner {
      display: block;
      min-height: 50%;
      height: 100%;
      object-position: 0% 100%;
    }
  }

  @include desktop {
    @include hide-scrollbar;
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 20% 1fr 20%;
  }
}
