@import '../../style/style';

#loading-spinner {
  @include square(8rem);
  @include center;
  overflow: hidden;
  position: relative;

  .airplane-icon {
    @include square(4rem);
    animation: upAndDown 0.5s ease-in-out infinite alternate;
    fill: $dark;
    transform: rotate(30deg);
    position: absolute;
  }

  .cloud {
    fill: $secondary;
    position: absolute;

    &.fast {
      @include square(4rem);
      margin-bottom: 4rem;
      animation: rightToLeft 1.5s linear infinite;
    }

    &.slow {
      @include square(3rem);
      margin-bottom: -4rem;
      animation: rightToLeft 2s linear infinite;
    }
  }
}

@keyframes upAndDown {
  from {
    margin-top: 1rem;
  }
  to {
    margin-top: -1rem;
  }
}

@keyframes rightToLeft {
  from {
    margin-left: 12rem;
  }
  to {
    margin-left: -12rem;
  }
}
