@import '../../style/style';

.loading-spinner {
  .airplane-icon {
    @include square(4rem);
    animation: pulsate 0.5s ease-in-out infinite alternate;
    fill: $dark;
    position: relative;
  }
}

@keyframes pulsate {
  from {
    transform: scale(1) rotate(30deg);
  }
  to {
    transform: scale(1.3) rotate(30deg);
  }
}
