@import '../../../style/style';

.flight-card {
  @include card;
  display: grid;
  gap: 1rem;

  .from-to {
    font-weight: 700;
    transition: all 0.3s ease-out;
  }

  .airline-name {
    color: $lessImportant;
  }

  .card-header {
    display: grid;
    grid: repeat(2, 1fr) / repeat(3, 1fr);
    place-items: center;

    .total-price {
      color: $primary;
    }

    .take-flight-button {
      @include reset-input;
      grid-column: 3;
      grid-row: 1;

      .airplane-icon {
        fill: $primary;
        cursor: pointer;
        filter: drop-shadow($shadow);
        transition: all 0.15s ease-out;

        &:hover {
          transform: rotate(30deg);
        }
      }
    }

    .from-to {
      grid-column: 1;
      grid-row: 2;
    }

    .airline-name.small {
      grid-column: 2;
      grid-row: 2;
    }

    .stops-count {
      grid-column: 3;
      grid-row: 2;
      font-weight: 700;
      color: $lessImportant;
    }

    .price-score {
      display: none;
      font-weight: 700;
      color: $lessImportant;
    }
  }

  .flights-list {
    display: grid;
    background-color: $background;
    max-height: 8rem;
    overflow-y: scroll;

    .flight-details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0.5rem;
      cursor: pointer;

      .price-small {
        font-weight: 700;
        color: $lessImportant;
        justify-self: end;
        transition: all 0.3s ease-out;
      }

      .airline-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        background-color: $backgroundHover;

        .price-small {
          color: $primary;
        }

        .from-to {
          margin-left: 0.5rem;
        }
      }
    }
  }

  .search-button-container {
    justify-self: center;

    .search-button {
      @include app-button;
      width: 9rem;
    }
  }

  @include tablet {
    padding: 2rem;

    .card-header {
      .total-price {
        font-size: 2em;
      }

      .from-to {
        grid-column: 2;
        grid-row: 1;
        font-size: 1.5em;
      }

      .price-score {
        display: block;
      }
    }
  }
}
