@import '../../../style/style';

.flight-card {
  @include card;
  display: grid;
  gap: 1rem;

  .from-to {
    font-weight: 700;
  }

  .airline-name {
    color: $lessImportant;
  }

  .card-header {
    display: grid;
    grid: repeat(2, 1fr) / repeat(3, 1fr);
    place-items: center;

    .total-price {
      color: $primary;
    }

    .take-flight-button {
      @include reset-input;
      grid-column: 3;
      grid-row: 1;

      .airplane-icon {
        fill: $primary;
      }
    }

    .from-to {
      grid-column: 1;
      grid-row: 2;
    }

    .airline-name.small {
      grid-column: 2;
      grid-row: 2;
    }

    .stops-count {
      grid-column: 3;
      grid-row: 2;
      font-weight: 700;
      color: $lessImportant;
    }

    .price-score {
      display: none;
      font-weight: 700;
      color: $lessImportant;
    }
  }

  .flights-list {
    display: grid;
    gap: 1rem;
    background-color: $background;
    padding: 1rem 0.5rem;
    max-height: 8rem;
    overflow-y: scroll;

    .flight-details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .price-small {
        font-weight: 700;
        color: $lessImportant;
        justify-self: end;
      }

      .airline-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .search-button {
    @include app-button;
    justify-self: center;
    width: 9rem;
  }

  @include tablet {
    padding: 2rem;

    .card-header {
      .total-price {
        font-size: 2em;
      }

      .from-to {
        grid-column: 2;
        grid-row: 1;
        font-size: 1.5em;
      }

      .price-score {
        display: block;
      }
    }
  }
}
