@import '../../style/style';

#app-navbar {
  @include row;
  grid-row: 1;
  grid-column: 1 / 2;
  padding: 0 1rem;
  background-color: $dark;
  color: $foreground;
  gap: 1rem;
  box-shadow: $shadow;
  position: sticky;
  top: 0;

  .app-logo {
    @include square(3rem);
  }

  .app-name {
    letter-spacing: 0.15rem;
  }

  .links {
    display: none;
  }

  @include tablet {
    grid-row: 1;
    grid-column: 1 / 4;

    .links {
      @include row;
      @include reset-space;
      gap: 1rem;
      margin-left: auto;
      font-weight: 600;
      text-transform: uppercase;

      .link {
        padding-bottom: 0.5rem;
      }

      .selected {
        border-bottom: 2px solid $foreground;
      }
    }
  }

  @include desktop {
    padding: 0 2rem;
  }
}
