@import '../../style/style';

#app-navbar {
  @include row;
  grid-row: 1;
  grid-column: 1 / 2;
  padding: 0 1rem;
  background-color: $dark;
  color: $foreground;
  gap: 1rem;
  box-shadow: $shadow;
  position: sticky;
  top: 0;

  .app-logo {
    @include square(3rem);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: rotate(180deg);
    }
  }

  .app-name {
    letter-spacing: 0.15rem;
  }

  .links-container {
    display: none;
  }

  @include tablet {
    grid-row: 1;
    grid-column: 1 / 4;

    .links-container {
      display: grid;
      grid: 1fr / repeat(3, 1fr);
      place-items: center;
      gap: 1rem;
      margin-left: auto;

      .link {
        text-transform: uppercase;
        font-weight: 600;
        width: 100%;
        text-align: center;
        padding: 1rem;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
          border-bottom: 3px solid $primary;
          margin-top: 0.5rem;
          background-color: $darkHover;
        }
      }
    }
  }

  @include desktop {
    padding: 0 2rem;
  }
}
