@import '../../style/style';

.app-navbar {
  @include row;
  grid-row: 1;
  grid-column: 1 / 2;
  padding: 0 1rem;
  background-color: $dark;
  color: $foreground;
  gap: 1rem;
  box-shadow: $shadow;
  position: sticky;
  top: 0;

  @include desktop {
    padding: 0 2rem;
  }

  .app-logo {
    @include square(3rem);
  }

  .app-name {
    letter-spacing: 0.15rem;
  }

  .menu-button {
    @include reset-input;
    font-size: 2em;
  }

  .nav-links {
    display: none;
  }
}

@include tablet {
  .app-navbar {
    grid-row: 1;
    grid-column: 1 / 4;

    .nav-links {
      @include row;
      @include reset-space;
      gap: 1rem;
      list-style: none;
      margin-left: auto;
      font-weight: 600;
      text-transform: uppercase;

      li {
        padding-bottom: 0.5rem;
      }

      .selected {
        border-bottom: 2px solid $foreground;
      }
    }
  }
}
