// palette
$dark: #282a3c;
$primary: #ff00a3;
$secondary: #46ebc8;
$background: #f2f3f8;
$foreground: #ffffff;

// shadows
$shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
$shadowHigh: 6px 6px 10px rgba(0, 0, 0, 0.4);
