// **** Palette ****

$dark: #282a3c;
$primary: #ff00a3;
$secondary: #46ebc8;
$background: #f2f3f8;
$foreground: #ffffff;
$lessImportant: #888;

// **** Micro interactions ****

$darkHover: #34374e;
$backgroundHover: #e6e8ee;

// **** Shadows ****

$shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
$shadowHigh: 0 20px 38px rgba(0, 0, 0, 0.16);
