@import './colors.scss';
@import './layout.scss';
@import './shapes.scss';
@import './reset.scss';

// app-specific mixins

@mixin app-button {
  @include center;
  @include reset-input;
  @include rounded-full;
  cursor: pointer;
  background-image: linear-gradient(125deg, #7349dd, #6000aa);
  font-size: 1rem;
  color: $foreground;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: $shadow;
  padding: 0.5rem 1rem;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  text-align: center;

  &:hover {
    transform: scale(1.03);
    box-shadow: $shadowHigh;
  }
}

@mixin card {
  @include rounded;
  background-color: $foreground;
  box-shadow: $shadow;
  padding: 1rem;
  place-self: center;

  @include tablet {
    padding: 2rem;
  }

  @include desktop {
    padding: 3rem;
  }
}
