@import '../../style/style';

#crazy-planes {
  z-index: -1;

  .plane {
    display: none;

    @include tablet {
      display: block;
      position: absolute;
      fill: $dark;
      filter: drop-shadow($shadow);
      opacity: 0.5;

      &.top {
        @include square(4rem);
        top: 5rem;
        animation: leftToRight 8s linear infinite;
      }

      &.bottom {
        @include square(3rem);
        bottom: 5rem;
        animation: leftToRight 8s linear infinite;
        animation-delay: -4s;
      }
    }

    @include desktop {
      &.top {
        animation: leftToRight 12s linear infinite;
      }

      &.bottom {
        animation: leftToRight 12s linear infinite;
        animation-delay: -6s;
      }
    }
  }
}

@keyframes leftToRight {
  0% {
    transform: rotate(60deg);
    left: 0;
  }
  50% {
    margin-top: 4rem;
  }
  100% {
    left: 100%;
  }
}
