@import '../../style/style';

#side-bar {
  display: none;

  .nav-links {
    @include column;
    padding: 0;
    gap: 2.5rem;
    margin-top: 1rem;

    .link-icon {
      @include square(1.5rem);
      fill: $foreground;
    }

    .link-name {
      display: none;
      color: $foreground;
    }
  }

  .banner {
    display: none;
  }

  .horizontal-line {
    display: none;
  }

  .user-avatar {
    display: none;
  }

  @include tablet {
    @include column;
    justify-content: space-between;
    color: $foreground;
    background-color: $dark;
    grid-column: 1;
    grid-row: 2 / -1;
    padding: 2rem 0;

    .user-avatar {
      @include circle(2.5rem);
      fill: $secondary;
      display: block;
    }

    .avatar-container .link-name {
      display: none;
    }
  }

  @include desktop {
    .nav-links {
      align-items: flex-start;

      .link-name {
        display: block;
        font-weight: 600;
        text-transform: capitalize;
      }
    }

    .horizontal-line {
      display: block;
      width: calc(100% - 4rem);
      border: none;
      border-bottom: 1px solid $background;
      margin: 0 2rem;
    }

    .nav-links {
      padding-left: 2rem;
      padding-right: 2rem;

      li {
        @include row;
        gap: 2rem;
        align-self: flex-start;
      }
    }

    .bottom-part {
      padding: 0 2rem;
      display: grid;
      gap: 2.5rem;
    }

    .avatar-container {
      @include row;
      gap: 2rem;
      align-self: flex-start;

      .link-name {
        display: block;
      }
    }

    .banner {
      display: block;

      img {
        width: 100%;
        height: 5em;
        object-fit: cover;
        object-position: 50% 0;
      }
    }
  }
}
