@import '../../style/style';

.side-bar {
  @include debug;
  display: none;
  padding-top: 5rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 5rem;
  color: $foreground;
  background-color: $dark;

  ul {
    @include column;
    list-style: none;
    padding: 0;
    gap: 2rem;
    font-size: 2em;
    height: 100%;
  }

  .banner {
    display: none;
  }

  .last {
    // margin-top: auto;
    justify-self: flex-end;
  }

  .link-name {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .side-bar {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .side-bar {
    width: 30%;

    .link-name {
      display: block;
    }

    ul {
      padding-left: 1em;

      li {
        @include row;
        gap: 1em;
        align-self: flex-start;
      }
    }

    .banner {
      @include debug;
      display: block;
    }
  }
}
