@import '../../style/style';

.side-bar {
  display: none;

  .nav-links {
    @include column;
    list-style: none;
    padding: 0;
    gap: 2.5rem;
  }

  .link-icon {
    @include square(1.5rem);
  }

  .banner {
    display: none;
  }

  .line {
    display: none;
  }

  .user-avatar {
    display: none;
  }

  .link-name {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .side-bar {
    @include column;
    justify-content: space-between;
    color: $foreground;
    background-color: $dark;
    grid-column: 1;
    grid-row: 2 / -1;
    padding: 2rem 0;

    svg {
      fill: $foreground;
    }

    .user-avatar {
      @include circle(2.5rem);
      fill: $secondary;
      display: block;
    }

    .last {
      list-style: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .side-bar {
    .link-name {
      display: block;
      font-weight: 600;
      text-transform: capitalize;
    }

    .line {
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid $background;
    }

    .nav-links {
      padding-left: 2rem;
      padding-right: 2rem;

      li {
        @include row;
        gap: 2rem;
        align-self: flex-start;
      }
    }

    .bottom-part {
      padding: 0 3rem;
      display: grid;
      gap: 2.5rem;
    }

    .last {
      @include row;
      gap: 2rem;
      align-self: flex-start;
    }

    .banner {
      display: block;

      img {
        width: 100%;
        height: 5em;
        object-fit: cover;
        object-position: 50% 0;
      }
    }
  }
}
