@import './style/style';

// global resets

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.App {
  @include fill;
  @include fixed;
  font-size: 16px;
  background-color: $background;
  color: $dark;
  display: grid;
  grid-template-rows: 5rem 1fr;
  overflow-y: scroll;
  overflow-x: hidden;

  @include desktop {
    @include hide-scrollbar;
  }

  .right-banner {
    display: none;
    grid-column: 3;
    grid-row: 2 / -1;
  }
}

@include tablet {
  .App {
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 5rem 1fr 30%;

    .right-banner {
      display: block;
      min-height: 50%;
      height: 100%;
      object-position: 0% 100%;
    }

    .bottom-banner {
      display: none;
    }
  }
}

@include desktop {
  .App {
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 20% 1fr 20%;
  }
}
