@import './style/style';

// global resets

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.App {
  @include screen;
  @include fixed;
  font-size: 16px;
  background-color: $background;
  color: $dark;
  display: grid;
  grid-template-rows: 5rem 1fr 25%;

  .right-banner {
    display: none;
    grid-column: 3;
    grid-row: 2 / -1;
  }

  .bottom-banner {
    grid-row: 3;
    height: 100%;
    min-width: 100%;
    object-position: 0 0;
    object-fit: cover;
  }
}

@media screen and (min-width: 700px) {
  .App {
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 5rem 1fr 20%;

    .right-banner {
      display: block;
      min-height: 50%;
      height: 100%;
      object-position: 0% 100%;
    }

    .bottom-banner {
      display: none;
    }
  }
}

@media screen and (min-width: 1024px) {
  .App {
    grid-template-rows: 5rem 1fr;
    grid-template-columns: 25% 1fr 20%;
  }
}
